# =========================
# Ignorar dependências
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Ignorar build temporário
# =========================
dist/
build/
.cache/

# =========================
# Sessões e cache do whatsapp-web.js
# =========================
.wwebjs_auth/
.wwebjs_cache/

# =========================
# Arquivos de sistema
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Ambiente e configs locais
# =========================
.env
*.local
