/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*
/pnpm-error.log*

# OS files
.DS_Store
Thumbs.db

# environment variables
.env
.env.local
